SUPABASE_URL=https://seu-projeto.supabase.co
SUPABASE_SECRET_KEY=sua-chave-secreta-do-supabase
SOLARSYNC_API_KEY=gere-uma-chave-interna-forte
CORS_ORIGIN=http://localhost:3001

BROKER_MQTT_HOST=seu-host-do-broker
BROKER_MQTT_PORT=8883
BROKER_MQTT_PROTOCOL=mqtts
BROKER_MQTT_USUARIO=seu-usuario
BROKER_MQTT_SENHA=sua-senha
BROKER_MQTT_TOPICO_ASSINATURA=casa/solar/geracao

PORTA_API=3000
CONSUMO_RESIDENCIA_PADRAO=400
