SUPABASE_URL=https://seu-projeto.supabase.co
SUPABASE_SERVICE_ROLE_KEY=sua-service-role-key
SOLARSYNC_API_KEY=gere-uma-chave-interna-forte
CORS_ORIGIN=http://localhost:5173

BROKER_MQTT_HOST=
BROKER_MQTT_PORT=8883
BROKER_MQTT_PROTOCOL=mqtts
BROKER_MQTT_USUARIO=
BROKER_MQTT_SENHA=
BROKER_MQTT_TOPICO_ASSINATURA=casa/solar/geracao

PORTA_API=3000
CONSUMO_RESIDENCIA_PADRAO=400
